<%= render partial: "section", locals: { section: @section } %>

<div>
  <%= link_to "Edit", edit_section_path(@section), class:"btn btn-secondary" %> |
  <%= link_to "Back", sections_path, class:"btn btn-dark" %> |

  <%= link_to "Delete", section_path(@section), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-info"  %>
</div>
